/*hero*/



.hero {
    padding: 200px 0px;
    text-align: center;

    background-color: #2F303A;
}

.overley {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img-hero.jpg);

}

.hero-title {
    display: block;
    margin: auto;
    max-width: 696px;
    margin-bottom: 30px;

    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* button */

.button {
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;

    color: var(--hero-title-color);
    background-color: #2196F3;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background: #188CE8;
        }
}

