:root {
    --body-color: #757575;
    --span-color: #2196F3;
    --logo-color: #000000;
    --main-nav-link-color: #212121;
    --hero-title-color: #FFFFFF;
    --link-mail-color: rgba(255, 255, 255, 0.6);
    --link-tel-color: rgba(255, 255, 255, 0.6);

}